<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <settings>
        <setting name="" value=""/>
    </settings>
    <sources>
        <source resource="datasource.properties" name=""/>
    </sources>
    <querys>
        <query resource="./query/user_query.xml"/>
        <query resource="./query/org_query.xml"/>
        <query resource="./query/app_query.xml"/>
        <query resource="./query/pipe_query.xml"/>
        <query resource="./query/valve_query.xml"/>
        <query resource="./query/test_query.xml"/>
        <query resource="./query/equ_query.xml"/>
    </querys>
</configuration>
